/*
Used for testing - to be removed
*/
.testborder{
    border: 1px solid tomato;
}

/*
General
*/
#root{
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    color: #2d2d2d;
}

h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.1em;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    text-transform: uppercase;
}

.body{
    padding: 10px;
}

.container{
    background-color: #e8e8e8;
}

.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5px;
}

.header{
    padding: 10px;
    color: #fff;
    background-image: url('./images/header-background-one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    
}

/*
Utilities
 */
.align-right{
    text-align: right;
}


/*
Tablet and desktop
*/
@media only screen and (min-width: 600px){
    h1{
        font-size: 3.6em;
    }

    .header{
        padding: 40px;
    }
}