/*
General
*/

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    --main-light-color: #f2f2f2;
    --main-grey-color: #dfdfdf;
    --main-dark-color: #2d2d2d;
    --success-color: #53aa8b;
    --error-color: #E74C3C;
    --warning-color: #E9D460;
    --link-color: #03C9A9;
    --link-color-hover: #1BBC9B;
    --transparent-background: rgba(255, 94, 156, 0.372);
}

  *,
  *:before,
  *:after {
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
}

#root{
    font-family: 'Overpass Mono', monospace;
    font-size: 1em;
    color: var(--main-dark-color);
}

h1,h2,h3,h4,h5,h6{
    letter-spacing: 0.1em;
}

h1{
    text-transform: uppercase;
    line-height: 170%;
    font-family: 'Josefin Sans', sans-serif;
}

h2{
    font-size: 1.3em;
}

a{
    color: var(--main-light-color);
    text-decoration: none;
}

a:hover{
    color: var(--link-color);
    cursor: pointer;
}

.grid__item>a{
    color: var(--link-color);
}

.grid__item>a:hover{
    color: var(--link-color-hover);
}

.main{
    padding: 10px;
}

.container{
    background-color: var(--main-grey-color);
    min-height: 100vh;
}

.grid--fixed{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 5px;
}

.grid{
    display: -ms-grid;
    display: grid;
	-ms-grid-rows: auto auto;
	grid-template-rows: auto auto auto;
	-ms-grid-columns: (minmax(300px, 1fr))(auto-fill);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid__item{
    margin: 10px;
    padding: 15px;
    background-color: var(--main-light-color);
}

.header{
    padding: 10px 10px 30px 10px;
    color: var(--main-light-color);
    background-color: var(--main-dark-color);
    background-image: url('./images/header-background-one.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

.header__current-time{
    color: var(--main-light-color);
}

.header__countdown-box{
    background-color: var(--transparent-background);
    border-radius: 4px;
}

.statusbar{
    padding: 10px;
    border-radius: 4px;
    background-color: var(--warning-color);
}

.options{
    padding: 20px 20px 50px 20px;
}


/*
Inputs
*/
input[type="submit"]{
    font-family: 'Overpass Mono', monospace;
    font-size: 0.8em;
    border: 0px;
    padding: 5px;
    border-radius: 3px;
    background-color: white;
    color: var(--success-color);
    -webkit-appearance: none;
    appearance: none;
}

input[type="submit"]:hover, input[type="submit"]:focus {
    color: white;
    background-color: var(--success-color);
}

input[type="text"], textarea{
    font-family: 'Overpass Mono', monospace;
    font-size: 0.8em;
    border: 0px;
    padding: 5px;
    border-radius: 3px;
    margin: 8px 5px 8px 0;
    -webkit-appearance: none;
    appearance: none;
}

textarea{
    width: 100%;
}


/*
Utilities
 */
.u-center{
    text-align: center;
    margin: 0 auto;
}

.u-right{
    text-align: right;
}

.u-margin-top{
    margin-top: 15px;
}

.u-margin-bottom{
    margin-bottom: 25px;
}

.u-text-bold{
    font-weight: bold;
}

.u-fadeIn{
    -webkit-animation: fadeIn 1.1s;
            animation: fadeIn 1.1s;
}

.u-error{
    color: var(--error-color);
}

.u-block{
    display: block;
    width: 100%;
}

/*
Animations
*/
@-webkit-keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes fadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/****************************
**** Tablet and desktop *****
*****************************/
@media only screen and (min-width: 600px){
    h1{
        font-size: 3.6em;
    }

    h2{
        font-size: 1.8em;
    }

    .header, .options, .main{
        padding: 40px;
    }

    .header{
        text-align: left;
    }

    .options{
        width: 50vw;
    }

    .grid--fixed{
        grid-column-gap: 20px;
    }

    .u-margin-bottom{
        margin-bottom: 70px;
    }

    input[type="text"], textarea{
        margin: 12px 8px 12px 0;
    }
}